@CHARSET "UTF-8";

h1 {
    font-size: 24px;
    color: white;
}

#north {
    height: 10%;
    padding: 10px;
    background-color: #2d3e50;
    min-width: 1200px;
    min-height: 30px;
}

#west {
    width: 20%;
    min-width: 150px;
    padding: 10px;
    background-color: #fafafa
}

#east {
    width: 20%;
    min-width: 200px;
    padding: 10px;
    background-color: #fafafa
}

#south {
    height: 5%;
    padding: 10px;
    min-width: 1200px;
    position: relative;
    bottom: 0;
}

#data {
    width: 80%;
    height:600px;
}

button {
    width:100%;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: white;
    border-radius: 0.2em;
}

button:hover
{
    background-color:#337ab7;
    color:white;
}

#tool{
    padding:5px;
}

.easyui-linkbutton{
    min-width:60px;
    background-color:#337ab7;
    color:white;
    margin:5px;
}

.easyui-linkbutton:hover{
    background-color:#d9534f;
    color:white;
}


.find{
    width:250px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 26px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.green{
    background-color:#5cb85c;
}

.yellow{
    background-color:#f0ad4e;
}

.blue{
    background-color:#73c2ea;
}