# Created by .ignore support plugin (hsz.mobi)
portal.iml
build/
portal.ipr
portal.iws
.idea/
.gradle/
/bin/
.classpath
out
libs
.settings
/portal/src/main/java/com/test



src/main/webapp/resources/zhongxinkeji/node_modules
src/main/webapp/resources/zhongxinkeji/gulpfile.js