<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.categroy.dao.CategroyMapper">
	<resultMap id="BaseResultMap" type="com.categroy.bean.Categroy">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="url" property="url" />
		<result column="type" property="type" />
		<result column="num" property="num" />
	</resultMap>
	
	<select id="findAll" resultType="com.categroy.bean.Categroy">
		select * from categroy
	</select>
	
	
	<insert id="add" parameterType="int">
		insert into categroy (type) values (#{type})
	</insert>
	
	<select id="findNum"  resultType="int">
		SELECT COUNT(*) FROM categroy 
	</select>
	
	<update id="update" parameterType="com.categroy.bean.Categroy">
		update  categroy
		set name =#{name },
		url = #{url},
		type = #{type}
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from categroy where id = #{did}
	</delete>
	
	
</mapper>